.menuBox {
  flex: 1 1 auto;
  flex-direction: column;
  //background: $black;
  background-image: url("../../../../webimages/blur-image.jpg");
  background-blend-mode:lighten;
}

.menuList {
  flex: 1 1 auto;
  flex-direction: column;
  //background: $black;
  //border: 1px solid $black;
  //background-image: url("../../../../webimages/blur-image.jpg");
}

.menuItem {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  //background: $black;
  //background-image: url("../../../../webimages/blur-image.jpg");
  color: $white;
  //border: 1px solid $orange;
  margin-left: 0px;
  padding-left: 30px;

  &--sub {
    @extend .menuItem;
    //background: $black;
    color: $white;
    //margin-left: 12px;
  }
}
