html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 5rem;
  color: #000; }

h1 {
  font-size: 2.4rem; }

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 660px; }

.headerwrap {
  background-image: url("../../../../webimages/blur-image.jpg");
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center; }

.mainwrap {
  background: #ffffff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center; }

.footerwrap {
  background: #ffffff;
  display: flex;
  flex: 0 0 100px;
  flex-direction: row;
  justify-content: center; }

.header {
  display: flex;
  flex: 0 0 70%;
  flex-direction: row;
  justify-content: center; }

.main {
  background: #666;
  display: flex;
  flex: 0 0 70%;
  flex-direction: row;
  justify-content: center; }

.footer {
  background: #777;
  display: flex;
  flex: 0 0 70%;
  flex-direction: row;
  justify-content: center; }

.headerLeft {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center; }

.headerCenter {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start; }

.headerRight {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px; }

.mainLeft {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column; }

.mainCenterRight {
  background: #666;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.mainCenter {
  background: #ffffff;
  display: flex;
  flex: 1 1 300px; }

.mainRight {
  background: #008000;
  display: flex;
  flex: 0 1 0px; }

.footerLeft {
  background: #008000;
  display: flex;
  flex: 1 1 auto; }

.footerCenter {
  background: #0000ff;
  display: flex;
  flex: 1 1 auto; }

.footerRight {
  background: #ff0000;
  display: flex;
  flex: 1 1 auto; }

.cardholder {
  display: flex;
  justify-content: space-between;
  padding: 3rem; }

.menuBox {
  flex: 1 1 auto;
  flex-direction: column;
  background-image: url("../../../../webimages/blur-image.jpg");
  background-blend-mode: lighten; }

.menuList {
  flex: 1 1 auto;
  flex-direction: column; }

.menuItem, .menuItem--sub {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  margin-left: 0px;
  padding-left: 30px; }
  .menuItem--sub {
    color: #ffffff; }

.card {
  flex: 0 0 auto;
  display: flex;
  width: 800px;
  height: 400px;
  background: transparent;
  align-items: stretch;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55); }
  .card_left {
    flex: 0 0 40%;
    background: transparent; }
    .card_left img {
      border-radius: 10px 0 0 10px; }
  .card_right {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    justify-content: flex-start;
    background: #000000;
    border-radius: 0 10px 10px 0;
    padding: 2rem 0 0 3rem; }
    .card_right__title {
      flex: 0 0 auto;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 40px;
      letter-spacing: 1px; }
    .card_right__details {
      flex: 0 0 auto; }
      .card_right__details ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        text-decoration: none; }
        .card_right__details ul li {
          display: inline;
          color: #e3e3e3;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
          padding: 0 2.5rem 0 0; }
    .card_right__review {
      padding: 1.5yrem 0 0 0; }
      .card_right__review p, .card_right__review a {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px; }

.card--vertical {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 300px;
  height: auto;
  background: transparent;
  align-items: stretch;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55); }
  .card--vertical_top {
    flex: 0 0 auto;
    background: transparent; }
    .card--vertical_top img {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 1rem 1rem 0 0; }
  .card--vertical_bottom {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: flex-start;
    background: #000000;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 3rem 3rem 3rem; }
    .card--vertical_bottom__title {
      flex: 0 0 auto;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: 1px; }
    .card--vertical_bottom__details {
      flex: 0 0 auto; }
      .card--vertical_bottom__details ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        text-decoration: none; }
        .card--vertical_bottom__details ul li {
          display: inline;
          color: #e3e3e3;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 1.4rem;
          padding: 0 2.5rem 0 0; }
    .card--vertical_bottom__review {
      padding: 1.5rem 0 0 0; }
      .card--vertical_bottom__review p, .card--vertical_bottom__review a {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 2rem; }

.logo {
  flex: 0 0 auto;
  padding: 1rem 5px;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic; }

.icon {
  flex: 0 0 auto;
  padding: 1rem 5px;
  color: #ffffff; }

.icon__counter {
  position: relative;
  top: -10px;
  left: -6px; }

.inputfield {
  flex: 0 0 auto;
  padding: 0 0 0 100px; }

@media (max-width: 960px) {
  .footer {
    flex-direction: column; }

  .hidden {
    display: none; } }
@media (max-width: 900px) {
  .xxmainRight {
    display: none; } }

/*# sourceMappingURL=default.css.map */
