html {
  box-sizing: border-box;
  font-size: $primary-font-size;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font-family;
  font-size: 1.4rem; //* =14px */
  line-height: $primary-line-height;
  @include primary-text-color($black);
}

h1 {
  font-size: 2.4rem; //* =24px */
}
