@import 'components/menu';
@import 'components/card';
@import 'components/card--vertical';

.logo {
  flex: 0 0 auto;
  //background: $grey7;
  padding: 1rem 5px;
  color: $white;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight:bold;
  font-style: italic;
}

.icon {
  flex: 0 0 auto;
  //background: $grey7;
  padding: 1rem 5px;
  color: $white;

  //border: 1px solid $orange;
  //height: 5rem;
  //line-height: 5rem;
  //@include square(50px);
}

.icon__counter {
  position: relative;
  top: -10px;
  left: -6px;
}

.inputfield {
  //background: $yellow;
  //border: 1px solid $orange;
  flex: 0 0 auto;
  //line-height: 60px;
  padding: 0 0 0 100px;
}
