@import 'components/menu';
@import 'components/card';
@import 'components/card--vertical';

.logo {
  padding: 10px 0;
  //height: 30px;
  object-fit: cover;
  //width: 30px;
  @include square(100px);
}

.icon {
  flex: 0 0 auto;
  background: $yellow;
  padding: 1rem 10px;
  border: 1px solid $orange;
  //height: 5rem;
  //line-height: 5rem;
  //@include square(50px);
}

.icon__counter {
  position: relative;
  top: -10px;
  left: 4px;
}

.inputfield {
  //background: $yellow;
  border: 1px solid $orange;
  flex: 0 0 auto;
  //line-height: 60px;
  padding: 0 30px;
}
