$black: #000;
$blue: #0000ff;
$green: #008000;
$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$red: #ff0000;
$orange: #ffa500;
$yellow: #ffff00;

$default-font-size: 62.5%;
$default-line-height: 5rem;
